/* Not effected by screensize */

table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse; /* Collapse  cellborders. Not double */
}

th, td {
  padding: 10px;
}

span {
  white-space: nowrap; /* Don't break the sentence wrapped in the span tag */
}

.uppercase-red {
  color: red;
  text-transform: uppercase;
}

.spaceOverTable {
  margin-top: 10px;
}

sub, sup {
  font-size: 0.5em;
}

/* Links on the navigationbar */
.verticalBar a {
  color: black;
  text-decoration: none; /*Remove underline from link*/
}

/* What I want to happen when the mouse is hovering over the link */
.verticalBar a:hover {
  margin-left: 3%;
}

/* Want the link linking to the same site to be active */
.verticalBar a.active {
  color: red;
  text-decoration: underline;
}

/* Style of link directing to the sources-page */
.sourcesLinkStyle {
  margin-top: 10px;
  text-align: right;
  font-size: 1.5em;
}

.sourcesLinkStyle a {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}

.sourcesLinkStyle a:hover {
  text-decoration: underline;
}

/* Style of links on the sources-page */
.sources a {
  text-decoration: none;
  color: black;
}

.sources a:hover {
  text-decoration: underline;
}

/* PHONES */
body {
  margin-top: 0px; /* No space over the content */
  margin-bottom: 50px;
  padding-left: 5px;
  background-image: url("../images/mathBackground.jpg");
  background-size: 350px;
  line-height: 1.6;
}

h1 {
  font-size: 2em; /* Heading size on phone */
}

.logoImage {width: 100%;} /*Logo image size for phone */
.image {width: 100%;} /* Image scaling for phone and tablet */

/* Grid. Needs to wrap all content */
.container {
  display: grid;
  /* Name the start and end of column. Easier to visualize */
  grid-template-columns: [col-1-start] 0.1fr [col-2-start] 1fr [col-3-start]
    0.1fr [col-3-end];
}

/* Navigationbar */
.verticalBar {
  margin-left: 8%;
  width: 79%;
  height: auto;
  background-color: white;
  position: fixed; /*Move with the screen*/
}

/* Main content */
.main {
  background-color: white;
  padding-top: 37%; /* Content need to be bellow the logo */
  grid-column: col-2-start/col-3-start;
  grid-row: auto;
  /* Space around text in main */
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.hideOnPh {display: none;} /* Hide content when the screen is phonescaled */

/* TABLETS */
@media only screen and (min-width: 600px) {
  body {
    margin-top: 10px; /* Want space over the main box now */
  }

  h1 {
    font-size: 3em; /* Heading size on tablet and pc */
  }

  .logoImage {width: 200px;} /*Logo image size for tablet */

  /* Style of Chapter 1 and Chapter 2 in the navigationbar */
  .chapterText {
    font-size: 30px;
    border-bottom: 2px solid black;
    margin-top: -20px;
    margin-bottom: 5px;
  }

  /* Grid layout for tablet */
  .container {
    display: grid;
    grid-template-columns: [col-1-start] 200px [col-2-start] 0.5fr [col-3-start]
      5fr [col-4-start] 0.3fr [col-4-end];
  }

  .verticalBar {
    margin-left: 0%; /* Change back */
    grid-column: col-1-start/col-2-start;
    grid-row: auto; /*Goes on as long as it needs*/
    width: 200px; /* Same as the logo image */
    height: auto;
    background-color: white;
    position: fixed; /*Move with the screen*/
    padding-bottom: 5px; /* Extra padding under the links */
  }

  .main {
    grid-column: col-3-start/col-4-start;
    grid-row: auto;
    padding-top: 0px; /* Change back */
    /* More padding */
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
  }

  /* Used in the fixed vertical menu that only tablet and pc have */
  .menyStyle {
    display: block; /* Change from none to block */
    font-size: 1.3em;
    padding: 0.6em;
  }

  /* Only tablets and pcs need tableScaling1. Makes table smaller for tablet */
  .tableScaling1 {
    font-size: 0.8em;
  }

  /* Makes table smaller for tablet */
  .tableScaling3 {
    font-size: 0.5em;
  }

  .hideOnTabAndPc {display: none;} /* Hide content on tablet and pc */
  .showOnTabAndPc {display: block;} /* Show content hidden on the phone version */
}

/* PC */
@media only screen and (min-width: 1000px) {
  .logoImage {width: 300px;} /* Bigger logo */
  .image {width: 60%;} /* Image scaling */

  .chapterText {
    font-size: 40px; /* Bigger font */
  }

  /* Grid layout for pc */
  .container {
    display: grid;
    grid-template-columns: [col-1-start] 300px [col-2-start] 0.5fr [col-3-start]
      5fr [col-4-start] 0.3fr [col-4-end];
  }

  .verticalBar {
    width: 300px; /* Same as the logo image */
  }

  .menyStyle {
    font-size: 1.5em; /* Bigger text */
    padding: 1em; /* More padding */
  }

  .tableScaling1 {
    font-size: 1em; /* Bigger text in tables on pc */
  }

  .tableScaling3 {
    font-size: 1em; /* Bigger text in tables on pc */
  }
}
