/* Not effected by screensize */

table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse; /* Collapse  cellborders. Not double */
}

th, td {
  padding: 10px;
}

.uppercase-red {
  color: red;
  text-transform: uppercase;
}

.spaceOverTable {
  margin-top: 10px;
}

sub, sup {
  font-size: 0.5em;
}

/* Links */
.verticalBar a {
  color: black;
  text-decoration: none; /*Remove underline from link*/
}

/* What I want to happen when the mouse is hovering over the link */
.verticalBar a:hover {
  margin-left: 3%;
}

/* Want the link linking to the same site to be active */
.verticalBar a.active {
  color: red;
  text-decoration: underline;
}

/* Boxes */
[class*="col-"] {
  float:left;
  background-color: white;
}

/* Phones */
body {
  margin-top: 0px; /* No space over the content */
  padding-left: 5px;
  background-image: url("../images/mathBackground.jpg");
  background-size: 350px;
  line-height: 1.6;
}

h1 {
  font-size: 2em; /* Heading size on phone */
}

.col-ph {width: 320px;} /* Box scaling */
.logoImage {width: 330px;} /*Logo image size for phone */
.image {width: 100%;} /* Image scaling */

/*Flex boxes*/
.container {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: minmax(0px, auto);
  grid-auto-columns: minmax(0px, auto);
  grid-gap: 1vw;
}

.verticalBar {
  grid-column: 1/2; /*Starts at 1 and stops when it reaches the second column*/
  grid-row: auto; /*Goes on as long as it needs*/
  width: 330px; /* Same as the logo image */
  height: auto;
  background-color: white;
  position: fixed; /*Move with the screen*/
}

.main {
  margin-top: 140px;
  grid-column: 1/2;
  grid-row: auto;
  /* Space around text in main */
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.hideOnPh {display: none;} /* Hide this when the screen is phonescale */

/* tablets */
@media only screen and (min-width: 600px) {
  body {
    margin-top: 10px; /* Want space over the content now */
  }

  h1 {
    font-size: 4em; /* Heading size on tablet */
  }

  .col-tab {width: 48%;}
  .logoImage {width: 200px;} /*Logo image size for tablet */

  .container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: minmax(0px, auto);
    grid-auto-columns: minmax(0px, auto);
    grid-gap: 1vw;
  }

  .verticalBar {
    grid-column: 1/2; /*Starts at 1 and stops when it reaches the second column*/
    grid-row: auto; /*Goes on as long as it needs*/
    width: 200px; /* Same as the logo image */
    height: auto;
    background-color: white;
    position: fixed; /*Move with the screen*/
    /* New */
    padding-bottom: 5px; /* Extra padding under the links */
  }

  .main {
    margin-left: 200px; /* Want the main box on the right side of the menu */
    grid-column: 2/8; /* Tablet have 2/8 instead of 1/2 */
    grid-row: auto;
    /* More padding */
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    /* New */
    margin-top: 0px;
  }

  /* Used in the fixed vertical menu that only tablet and pc have */
  .menyStyle {
    font-size: 1.5em;
    padding: 0.6em;
  }

  /* Only tablets and pcs need tableScaling1. Makes table smaller for tablet */
  .tableScaling1 {
    font-size: 0.8em;
  }

  /* Makes table smaller for tablet */
  .tableScaling3 {
    font-size: 0.5em;
  }

  .hideOnTab {display: none;} /* Hide this on tablet */
}

/* pc */
@media only screen and (min-width: 1000px) {
  .col-pc {width: 58%;}
  .logoImage {width: 300px;} /* Bigger logo */
  .image {max-width: 60%;} /* Image scaling */

  .verticalBar {
    width: 300px; /* Bigger logo, bigger vertical bar */
  }

  .main {
    margin-left: 300px; /* Want the main box on the right side of the menu */
  }

  .menyStyle {
    font-size: 2em; /* Bigger text */
    padding: 1em; /* More padding */
  }

  .tableScaling1 {
    font-size: 1em; /* Bigger text in tables on pc */
  }

  .tableScaling3 {
    font-size: 1em; /* Bigger text in tables on pc */
  }

  .hideOnPc {display: none;} /* Hide this on pc */
}
